#textdomain wesnoth-A_New_Land_Classic

# Effects of destroying mushroom mine

[event]
    name=moveto
    [filter]
        x=10
        y=25
        side="1,2,3,4"
    [/filter]
    [modify_side]
        side=5
        income=5
    [/modify_side]
    {MODIFY_TERRAIN Uh $x1 $y1}
    {PLAY_SOUND skeleton-die-1.ogg}
    [message]
        speaker=narrator
        image=terrain/village/cave-tile.png
        message= _ "You destroy the mushroom mine. The northwest undead now have 10 less income."
    [/message]
[/event]

[event]
    name=moveto
    [filter]
        x=50
        y=25
        side="1,2,3,4"
    [/filter]
    [modify_side]
        side=6
        income=5
    [/modify_side]
    {MODIFY_TERRAIN Uh $x1 $y1}
    {PLAY_SOUND skeleton-die-1.ogg}
    [message]
        speaker=narrator
        image=terrain/village/cave-tile.png
        message= _ "You destroy the mushroom mine. The northeast orcs now have 10 less income."
    [/message]
[/event]

[event]
    name=moveto
    [filter]
        x=10
        y=30
        side="1,2,3,4"
    [/filter]
    [modify_side]
        side=7
        income=5
    [/modify_side]
    {MODIFY_TERRAIN Uh $x1 $y1}
    {PLAY_SOUND skeleton-die-1.ogg}
    [message]
        speaker=narrator
        image=terrain/village/cave-tile.png
        message= _ "You destroy the mushroom mine. The southwest orcs now have 10 less income."
    [/message]
[/event]

[event]
    name=moveto
    [filter]
        x=50
        y=30
        side="1,2,3,4"
    [/filter]
    [modify_side]
        side=8
        income=5
    [/modify_side]
    {MODIFY_TERRAIN Uh $x1 $y1}
    {PLAY_SOUND skeleton-die-1.ogg}
    [message]
        speaker=narrator
        image=terrain/village/cave-tile.png
        message= _ "You destroy the mushroom mine. The southeast undead now have 10 less income."
    [/message]
[/event]
